/*Tendina*/
.dropbtn {
    background-color: #B30000;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    border: none;
    width: 200px;
    border-radius: 25px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd; width: 200px; text-align: center; border-radius: 25px;}
  
  .dropdown:hover .dropdown-content {display: block; border-radius: 25px; text-align: center;}
  
  .dropdown:hover .dropbtn {background-color: #B30000;}

  div.center-text  {
    
    justify-content: center;
    align-items: center;
  }

  /*footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  /* navbar */
  .navbar-custom {
    background-color: #B30000;
}
/* Modify brand and text color */
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}

#scannerizzaSfondo{
  width:50px;
}

#scannerizza{
  width: 27px;
}

#percorsoSfondo{
  width:25px;
}

#percorso{
  width:25px;
}

#ricercaNavImg{
  width:25px;
}

#accountSfondo{
  width:50px;
}

#account{
  width:21px;
}

#setting{
  width:25px;
  padding-left:5px;
  padding-bottom:10px;
}

#back{
  width:15px;
  padding-bottom:10px;
}

#leaderboard{
  width:20px;
}

/* * {
  box-sizing: border-box
}  */


.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}



#container {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

.draggable{
  cursor: move;
}
